<!DOCTYPE html>
<html ng-app='SOAPNotes'>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src='node_modules/angular-route/angular-route.js'></script>

    <script src='app.js'></script>

  </head>
  <body ng-controller='SOAPController'>
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="" class="navbar-brand">
            {{title}}
          </a>
        </div>
        <div id="navbar" class='collapse navbar-collapse'>
          <ul class="nav navbar-nav">
            <li>New</li>
            <li>by Patient</li>
            <li>by Date</li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="" class="container">
      <section id='list'>
        <form name='search'>
          <input type="text" name='text' style='form-control text' ng-model='text'>
        </form>
        <ul class='patients' ng-if='patients'>
          <li>
            <a href="">New patient</a>
          </li>
          <li ng-repeat='patient in patients | filter:{name: text}'>
            <a href="">{{patient.name}}</a>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
