<section id='search' ng-controller='ListsController as control'>
  <form ng-submit="$event.preventDefault()">
    <md-autocomplete
    md-items="patient in patientsSearch(query)"
    md-no-cache='true'
    md-selected-item-change='newNote(patient)'
    md-selected-item='selected'
    md-search-text='query'
    md-item-text="patient.name"
    placeholder="type an existing or new patient name"
  >
    <md-item-template>
      <span class="item-title">{{patient.name}}</span>
      <md-button class='md-secondary' ng-click='newNote(patient)'>New Note</md-button>
      <md-button class='md-secondary' ng-click='goToPatient(patient)'>Notes</md-button>
    </md-item-template>
    <md-not-found>
      Patient named {{query}} not found.
      <md-button ng-click='createPatientAndGoToNewNote(query)'>Create it</md-button>
    </md-not-found>
  </md-autocomplete>
  </form>
</section>
<section id='list' ng-controller='ListsController'>
  <h1 class="md-headline">{{title.nav}}</h1>
  <div ng-include="listView"></div>
</section>
