<section id='new' ng-controller='NoteCreationController' class='md-whiteframe-z1 page' layout-padding>
  <form name='noteForm' ng-submit='newNote()'>
    <md-input-container class='md-block'>
      <label>Patient</label>
      <input ng-model='patient.name' disabled>
    </md-input-container>
    <md-input-container class='md-block' ng-repeat="field in ['subjective', 'objective', 'assessment', 'plan']">
      <label class='caps'>{{field}}</label>
      <textarea ng-model='note[field]' name="{{field}}" rows="4"></textarea>
    </md-input-container>
    <md-button type="submit">Create Note</md-button>
  </form>
</section>
